owner                          = "demo"
resource_management_api_key    = "api_key_with_manage_resource_permissions"
resource_management_api_secret = "api_key_secret"
confluent_cloud_environment    = "your confluent cloud env id"